@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body{
    font-family: "Lato", serif;
}

*{
    padding: 0px;
    margin: 0px;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

.row{
    width: 100%;
    float: left;
}

.col-md-4{
    width: 33.33%;
    float: left;
}

.col-md-6{
    width: 50%;
    float: left;
}

.col-md-12{
    width: 100%;
    float: left;
}

/* header */

.header-section{
    width: 100%;
    float: left;
    background: #F6F9F9;
}

.logo{
    width: 100%;
    padding: 15px 0px;
}

.nav{
    padding: 25px 0px;
    text-align: right;
}

.nav ul li{
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
    font-size: 16px;
    font-weight: 900;
}

.nav ul li a{
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    transition: 0.3s;
}

.nav ul li a:hover{
    color: #F6F9F9;
    padding: 10px;
    background-color: #2D3950;
}



/* Banner Section Start */


.banner-section{
    width: 100%;
    float: left;
    padding: 70px 0px 40px;
    background: url("../img/Banner.png") center top no-repeat;
    background-size: cover;
}

.banner-inner{
    padding: 80px 0px;
    text-align: center;
}

.banner-inner h1{
    font-size: 80px;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.banner-inner p{
    font-size: 16px;
    font-weight:400;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 60px;
}

.banner-inner .btn-info{
    padding: 15px 20px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    border: 1px solid #15a4fa;
    border-radius: 2px;
    margin: 25px 0px;
    color: #fff;
    transition: 1s;
}

.banner-inner .btn-info:hover{
    background: #15a4fa;
    color: #fff;
    border: 1px solid #fff;
}

.banner-inner .icon{
    margin-top: 100px;
    padding: 60px 0px 20px;
}

.banner-inner .divider{
    width: 40%;
    height: 2px;
    background-color: #15a4fa;
    margin: 25px auto;
}


/* simple section */


.simple-section{
    width: 100%;
    float: left;
    padding: 80px 0px;
    background: #F5F9F9;
}

.simple-inner{
    width: 100%;
    float: left;
    text-align: center;
}

.simple-inner h1{
    font-size: 40px;
    font-weight: 900;
    color: #000;
    margin: 10px;
}

.simple-inner p{
    font-size: 16px;
    font-weight:400;
    color: #000;
    margin-top: 20px;
    margin-bottom: 5px;
}


/* feature section */

.feature-section{
    width: 100%;
    float: left;
    padding: 80px 0px;
}


.feature-section .feature-inner{
    width: 100%;
    float: left;
    text-align: center;
}

.feature-section .feature-inner img{
    margin-bottom: 20px;
}

.feature-section .feature-inner h2{
    font-size: 22px;
    margin-bottom: 10px;
}

.feature-section .feature-inner p{
    font-size: 16px;
    font-weight: 400;
    color: #000;
}


/* Portfolio Section */


.portfolio-section{
    width: 100%;
    float: left;
    padding: 80px 0px;
    background: #F5F9F9;
}

.portfolio-section .title{
    text-align: center;
    margin-bottom: 50px;
}

.portfolio-section .title h1{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 10px;
}

.portfolio-section .title p{
    font-size: 16px;
    font-weight: 400;
    color: #000;
}

.portfolio-section .portfolio-inner{
    margin-bottom: 15px;
  
}


/* Carousel Section */


.carousel-inner{
    padding: 80px 0;
}

/* -------------port-hover--------- */
.portfolio-section .portfolio-inner{
    margin-bottom: 15px;
    position: relative;
    z-index: 2;
}
.port-hover{
    width: 95%;
    background: #15a4fa;
    height: 261px;
    position: absolute;
    z-index: 7;
    opacity: 0.7;
    top: 0;
    left: 0;
    display: none;
}
.port-icon{
    position: absolute;
    top: 46%;
    left: 40%;
}
.portfolio-section .portfolio-inner:hover .port-hover{
    display: block;
}


/* Footer Start */

.footer-section{
    width: 100%;
    float: left;
    background: #F5F9F9;
    padding: 20px 0;
}

.footer-icon{
    text-align: right;
}

.footer-icon ul li{
    list-style: none;
    display: inline-block;
    background: #15a4fa;
    margin-left: 15px;
    padding: 11px;
}

.footer-icon i{
    color: #fff;
}



